LIGHTHOUSE_API_KEY=
LIGHTHOUSE_ENDPOINT=https://upload.lighthouse.storage/api/v0/add
INTENT_STORAGE_PATH=./data/latest_intent.json

# Flow Blockchain
FLOW_ACCESS_NODE=https://rest-testnet.onflow.org
FLOW_PRIVATE_KEY=
FLOW_ORACLE_ADDRESS=32258b0c4e249730
LAZARUS_GUARD_ADDRESS=32258b0c4e249730
